body {
  background-image: url("background.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-color: #cccccc;
 }

img {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 400%;
  text-align: center;
}