body {
  background-image: url("sushi.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-color: #cccccc;
 }
body {
  font-family: 'Indie Flower', cursive;
  font-size: 200%;
  text-align: center;

}
.list-wrapper {
  width: 90%;
  max-width: auto;
  margin: 30px auto;
}

/* List component */
.list {
  background-color: #fff;
  list-style: none;
  margin: 0;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  align-content: space-around;
}

.list .list-item {
  display: flex;
  padding: 10px 5px;
  align-content: space-between;
}

.list .list-item:not(:last-child) {
  border-bottom: 1px solid #eee;
}


/* List item content */
.list .list-item__content {
  flex-grow: 1;
  padding: 0 20px;
  align-content: space-around;
}

.list .list-item__content h4 {
  margin: 0;
  font-size: 18px;
  margin-top: 15px;
}
