body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}
footer {
  background: #76a8ab;
  color: #faf5fa;
  height: 50px;
  text-align: center;
}
.copyright {
  padding: 12px;
}

header {
  background: #76a8ab;
  color: #faf5fa;
  height: 200px;
  /*text-align: center;*/
}
.logo > img {
  height: 180px;
  width: auto;
  padding: 0px;
  float: left;
}
.menu {
  display: table;
  margin: 0 auto;
}

ul#horizontal-list {
  list-style: none;
}
ul#horizontal-list li {
  display: inline;
  padding: 15px;
}
.navi {
  float: right;
  font-size: 200%;
  /*display: inline-block;*/
  margin: 50px;
}
a {
  text-decoration: none;
}
a:link {
  color: #faf5fa;
}

a:visited {
  color: #faf5fa;
}

a:hover {
  color: #bad3db;
}

a:active {
  font-weight: bold;
}
.aktiv {
  font-weight: bold;
}
.c-hero {
  background: url("sushi_4460x4460.jpg");
  background-size: cover;
  padding: 200px 0 100px 30%;
}
.cards {
  width: 98%;
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  flex: 1 1 calc(48% - 1em);
  padding: 4px;
}
.card-img {
  float: left;
}
.card-img img {
  width: 300px;
}
.btn-buy {
  border: 2px;
  border-radius: 3px;
  font-size: 130%;
  float: right;
  padding: 7px;
  background: #76a8ab;
  color: #faf5fa;
  font-weight: bold;
}
.story h2 {
  text-align: center;
  font-size: 36px;
}
.story_img img {
  width: 500px;
}
.story {
  display: flex;
  width: 100%;
}
.container {
  min-height: 400px;
}
.story_text {
  padding: 10px;
}
.form_wrapper h2 {
  text-align: center;
}
.form_wrapper {
  width: 90%;
  max-width: 300px;
  margin: 0px auto;
  padding: 5px;
  background: #76a8ab;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.list {
  list-style: none;
  margin: 0;
  padding: 15px;
}
.list-item {
  display: flex;
  padding: 10px 5px;
}
input,
textarea {
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.btn-contact {
  border: 2px;
  border-radius: 3px;
  font-size: 100%;
  float: right;
  padding: 7px;
  background: #faf5fa;
  color: black;
  font-weight: bold;
}
.background {
  background: url("sushi_4460x4460.jpg");
  background-size: cover;
  margin: 0px;
  border: 0px;
  padding: 10px;
}
